<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="icon" type="image/x-icon" href="~/Content/Img/favicon.ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="EnKontrol" name="description" />
    <meta content="" name="EnKontrol" />

        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="~/Content/Theme/global/plugins/font-awesome/5.11.2/css/all.min.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/Theme/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/Theme/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/Theme/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <link href="~/Content/Theme/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/Theme/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/Theme/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/Theme/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/Theme/global/plugins/bootstrap-summernote/summernote.css" rel="stylesheet" type="text/css" />

        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="~/Content/Theme/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="~/Content/Theme/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="~/Content/Theme/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/Theme/layout/css/themes/darkblue.min.css" rel="stylesheet" type="text/css" id="style_color" />
        <link href="~/Content/Theme/layout/css/custom.css" rel="stylesheet" type="text/css" />
        <!-- END THEME LAYOUT STYLES -->

        <link rel="stylesheet" href="~/Content/Site.css" type="text/css" />

    <script type="text/javascript">
        var appInsights=window.appInsights||function(config){
            function r(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s=u.createElement(o),i,f;for(s.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace","Ajax"];i.length;)r("track"+i.pop());return r("setAuthenticatedUserContext"),r("clearAuthenticatedUserContext"),config.disableExceptionTracking||(i="onerror",r("_"+i),f=e[i],e[i]=function(config,r,u,e,o){var s=f&&f(config,r,u,e,o);return s!==!0&&t["_"+i](config,r,u,e,o),s}),t
        }({
            instrumentationKey:"49c0dbef-a73f-411b-b2c3-b378c505e18f"
        });

        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
    @RenderBody()
    <div id="__pageWrapper">
        <div class="page-wrapper">
        </div>
    </div>
    <!--[if lt IE 9]>
    <script src="~/Content/Theme/global/plugins/respond.min.js"></script>
    <script src="~/Content/Theme/global/plugins/excanvas.min.js"></script>
    <script src="~/Content/Theme/global/plugins/ie8.fix.min.js"></script>
    <![endif]-->
    <!-- BEGIN CORE PLUGINS -->        
    <script src="~/Content/Theme/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/Content/Theme/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/lib/react/react.js"></script>
    <script src="~/Scripts/lib/react-dom/react-dom.js"></script>
    <script src="~/Scripts/lib/react-router/ReactRouter.js"></script>
    <script src="~/Scripts/lib/redux/redux.js"></script>
    <script src="~/Scripts/lib/react-redux/react-redux.js"></script>
    <script src="~/Content/Theme/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="~/Content/Theme/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/Content/Theme/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/Content/Theme/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="~/Content/Theme/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="~/Content/Theme/global/scripts/app.min.js" type="text/javascript"></script>
    <script src="~/Content/Theme/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
    <script src="~/Content/Theme/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/Content/Theme/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/Content/Theme/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/Content/Theme/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/Content/Theme/pages/scripts/form-fileupload.min.js"></script>
    <script src="~/Content/Theme/global/plugins/bootstrap-summernote/summernote.js" type="text/javascript"></script>
    @*<script src="~/Content/Theme/pages/scripts/table-datatables-buttons.min.js" type="text/javascript"></script>*@
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src="~/Content/Theme/layout/scripts/layout.js" type="text/javascript"></script>
    @*<script src="~/assets/layouts/layout2/scripts/demo.js" type="text/javascript"></script>*@
    <script src="~/Content/Theme/layout/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
    <script src="~/Content/Theme/layout/global/scripts/quick-nav.min.js" type="text/javascript"></script>
    <!-- END THEME LAYOUT SCRIPTS -->

    <script src="~/Scripts/require.js"></script>
    @*<script src="@Url.Content("~/Scripts/all.js")"></script>*@

    @*All of below links will be bundled*@
    <script src="@Url.Content("~/Scripts/components/Colors.js")"></script>
    <script src="@Url.Content("~/Scripts/components/Grid.js")"></script>    
    <script src="@Url.Content("~/Scripts/components/store/StoreTypes.js")"></script>
    <script src="@Url.Content("~/Scripts/components/store/Dispatchs.js")"></script>
    <script src="@Url.Content("~/Scripts/components/store/reducers/AppReducer.js")"></script>         
    <script src="@Url.Content("~/Scripts/components/store/Store.js")"></script>        
    <script src="@Url.Content("~/Scripts/components/Breadcrumb.js")"></script>
    <script src="@Url.Content("~/Scripts/components/Icon.js")"></script>
    <script src="@Url.Content("~/Scripts/components/Buttons.js")"></script>
    <script src="@Url.Content("~/Scripts/components/Menu.js")"></script>
    <script src="@Url.Content("~/Scripts/components/DataTableFunctions.js")"></script>   
    <script src="@Url.Content("~/Scripts/components/DataTable.js")"></script> 
    <script src="@Url.Content("~/Scripts/components/SummerNote.js")"></script>     
    <script src="@Url.Content("~/Scripts/components/List.js")"></script>
    <script src="@Url.Content("~/Scripts/components/Portlet.js")"></script>
    <script src="@Url.Content("~/Scripts/components/Page.js")"></script>
    <script src="@Url.Content("~/Scripts/components/DropdownNotification.js")"></script>    
    <script src="@Url.Content("~/Scripts/components/FileUpload.js")"></script>
    <script src="@Url.Content("~/Scripts/components/FileUploadList.js")"></script>
    <script src="@Url.Content("~/Scripts/components/NestableList.js")"></script>
    <script src="@Url.Content("~/Scripts/components/TextArea.js")"></script> 
    <script src="@Url.Content("~/Scripts/components/WorkflowTasks.js")"></script> 
    <script src="@Url.Content("~/Scripts/components/WorkflowTaskEdit.js")"></script> 
    <script src="@Url.Content("~/Scripts/components/Template.js")"></script>
    
        
    @*<script src="~/Scripts/site.min.js" type="text/javascript"></script>*@
        
    @RenderSection("scripts", required: false)
</body>
</html>